body {
  background-color: var(--color-bkg);
  font-family: var(--font-family);
}

main {
  width: 300px;
  margin: 0 auto;
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100%;
    max-width: 1000px;
  }
}